---
import Section from "../Section.astro";

import CV from "@cv";
const { summary } = CV.basics;
---

<Section title="À propos">
  <div id="presentation-content" class="space-y-4">
    <div class="bg-skin-button-accent/10 p-4 rounded-lg border-l-4 border-skin-hue">
      <p class="text-skin-muted leading-relaxed">
        {summary}
      </p>
    </div>
  </div>
</Section>

